<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /webcon/

    # Redirigir la raíz "/" al login
    RewriteRule ^$ auth/login [L,R=302]

    # Si no existe archivo o carpeta, redirigir a index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]
</IfModule>
